<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between m-b-8">
      <div class="col-sm-4 col-lg-4">
        <mat-card-title>User Activities</mat-card-title>
        <mat-card-subtitle class="mat-body-1">Enter UserId</mat-card-subtitle>
      </div>
      <div class="col-sm-4 col-lg-3">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput (keyup)="loadActivities($event)" name="search" [formControl]="search" placeholder="Ex. ium" placeholder="Search here" #input />
        </mat-form-field>
      </div>
    </div>

    <div class="m-t-30 table-responsive-sm">
      <!-- <cdk-virtual-scroll-viewport tvsItemSize="48" headerHeight="56" style="height: 100vh"> -->

      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
        <!-- actionName Column -->
        <ng-container matColumnDef="actionName">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14" mat-sort-header>
            actionName
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.actionName }}
          </td>
        </ng-container>

        <!-- actionName Column -->
        <ng-container matColumnDef="typeName">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14" mat-sort-header>
            typeName
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-template [ngIf]="element.typeName == 'Success'">
              <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.typeName }}
              </span>
            </ng-template>
            <ng-template [ngIf]="element.typeName != 'Success'">
              <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.typeName }}
              </span>
            </ng-template>
          </td>
        </ng-container>

        <!-- requestMethod Column -->
        <ng-container matColumnDef="requestMethod">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            requestMethod
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-template [ngIf]="element.requestMethod == 'PUT'">
              <span class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.requestMethod }}
              </span>
            </ng-template>
            <ng-template [ngIf]="element.requestMethod == 'POST'">
              <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.requestMethod }}
              </span>
            </ng-template>
            <ng-template [ngIf]="element.requestMethod == 'GET'">
              <span class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.requestMethod }}
              </span>
            </ng-template>
            <ng-template [ngIf]="element.requestMethod == 'DELETE'">
              <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.requestMethod }}
              </span>
            </ng-template>
          </td>
        </ng-container>

        <!-- duration Column -->
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">
            duration
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.duration }}
          </td>
        </ng-container>

        <!-- created Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">
            created
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.created | toLocalDate}}
          </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row" (click)="
                expandedElement = expandedElement === element ? null : element;
                $event.stopPropagation()
              ">
              <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div [@detailExpand]="
                element === expandedElement ? 'expanded' : 'collapsed'
              ">
              <div class="p-15 rounded b-1 m-b-16 m-x-18">

                <div class="f-s-14 m-t-8 json-container">
                    INPUT:
                </div>
                <div class="f-s-14 m-t-8 json-container">
                  {{element.inputParameters}}
                </div>
                <div class="f-s-14 m-t-8 json-container">
                  OUTPUT:
                </div>
                <div class="f-s-14 m-t-8 json-container">
                  {{element.outputResult}}
                </div>
                <!-- <div class="f-s-14 m-t-8 json-container">
                  <h3>Input</h3>
                  <pre><code>{{ element.inputParameters | json }}</code></pre>
                  <h3>Output</h3>
                  <pre><code>{{ element.outputResult | json }}</code></pre>
                </div> -->

              </div>
            </div>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element" (click)="
            expandedElement = expandedElement === element ? null : element
          "></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr> -->
      </table>
      <app-state-page [dataSource]="dataSource" [dataSourceLoading]="dataSourceLoading"></app-state-page>

      <!-- </cdk-virtual-scroll-viewport> -->
    </div>
  </mat-card-content>
</mat-card>
