<mat-card class="cardWithShadow">
  <mat-card-header class="d-flex">
    <mat-card-title>Tasks</mat-card-title>
    <mat-card-subtitle class="mat-body-1">Drag & Drop</mat-card-subtitle>
  </mat-card-header>
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="row justify-content-between">
        <div class="col-sm-4">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>Employees</mat-label>
            <mat-select required [value]="1" (selectionChange)="loadTasks($event.value)">

              <!-- </mat-select>(selectionChange)="ddlChange($event)"> -->
              <mat-option value=0 selected>Everyone</mat-option>
              <mat-option *ngFor="let item of employee" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-8 text-end d-flex align-items-center justify-content-end">
          <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
            Add Task
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-content>
    <div class="table-responsive m-t-30">


      <div class="example-container">
        <h2>To do</h2>
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doingList, doneList, justCreatedList]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of todo" class="example-box" cdkDrag [cdkDragData]="item">
            <h2>{{item.title}}</h2>
            <span>{{item.description}}</span>
            <div class="employee-box">
              <span>{{ item.employee.name }}</span>
              <span>Priority: {{ item.priority }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="example-container">
        <h2>Doing</h2>
        <div cdkDropList #doingList="cdkDropList" [cdkDropListData]="doing"
          [cdkDropListConnectedTo]="[todoList, doneList, justCreatedList]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of doing" class="example-box" cdkDrag [cdkDragData]="item">
            <h2>{{item.title}}</h2>
            <span>{{item.description}}</span>
            <div class="employee-box">
              <span>{{ item.employee.name }}</span>
              <span>Priority: {{ item.priority }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="example-container">
        <h2>Done</h2>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList, doingList, justCreatedList]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of done" class="example-box" cdkDrag [cdkDragData]="item">
            <h2>{{item.title}}</h2>
            <span>{{item.description}}</span>
            <div class="employee-box">
              <span>{{ item.employee.name }}</span>
              <span>Priority: {{ item.priority }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="example-container">
        <h2>NEW</h2>
        <div cdkDropList #justCreatedList="cdkDropList" [cdkDropListData]="justCreated"
          [cdkDropListConnectedTo]="[todoList, doingList, doneList]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of justCreated" class="example-box" cdkDrag [cdkDragData]="item">
            <h2>{{item.title}}</h2>
            <span>{{item.description}}</span>
            <div class="employee-box">
              <span>{{ item.employee.name }}</span>
              <span>Priority: {{ item.priority }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>
